<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MobileSuite" verbose="1">
    <test name="iOS_test">
        <parameter name="device" value="android_Pixel4_local" />
        <classes>
            <class name="android_tests.DemoApkTests"/>
        </classes>
    </test>
    <test name="android_test">
        <parameter name="device" value="iPhone_13_local" />
        <classes>
            <class name="ios_tests.DemoAppTests"/>
        </classes>
    </test>
</suite>